<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.geekhall.sbdemo.mapper.RoleMapper">
    <insert id="insert">
        insert into t_role (`code`, `name`, `gmt_create`, `enabled`, `remark`) values (#{code}, #{name}, #{gmtCreate}, #{enabled}, #{remark})
    </insert>
</mapper>